@model IEnumerable<MyShop.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />

<h1>Category</h1>

<br />

<p>
    <a href="/Admin/Category/Create" class="btn btn-success">Create New</a>
</p>

<br />


<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="/Admin/Category/Edit/@item.Id" class="btn btn-warning">Edit</a> |
                    <a href="/Admin/Category/Delete/@item.Id" onclick="return confirm('Are you delete?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

